/* @import "react-alice-carousel/lib/alice-carousel.css"; */

.stretchWidth{
  min-width: 100%;
  width: 100%;
}

.stretchHeight{
  min-height: 100vh;
  height: 100%;
}

.customFooter{
  /* bottom: 0;
  position: sticky; */
  /* margin-top: 1vh;
  position: absolute; */
}

.characterCardAvatar{
  min-width: 25vh;
  width: 25%;
}

/* *{
  background-image: url('https://wallpapercave.com/wp/wp2918341.jpg')
} */

/* .bg-img{
  background-image: url('https://c.pxhere.com/photos/d0/d6/background_tree_wood_boards_texture_wooden_background_old_brown-1370487.jpg!d');
  background-size: 125em;
} */

.landingImage{
  max-width: 20vh;
  width: 20vh;
}

.carousel {
  padding: 5%;
  margin-top: 2.5%;
}


.bg-primary-color{
  background: #8DCDC1;
}

.bg-secondary{
  background:  #D3E397;
}
.bg-tertiary{
  background: #FFF5C3;
}

.bg-darkest{
  background: #7C786A
}

.bg-none{
  background: rbga(0 , 0 , 0 , 0)
}


.text-primary{
  color: rgb(141, 205, 193);
}

.text-secondary{
  color: rgb(211, 227, 151);
}
.text-tertiary{
  color: rgb(255, 245, 195);
}

.text-darkest{
  color: #7C786A;
}
